<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_CartHandoff>
            <version>1.6.0</version>
        </Iparcel_CartHandoff>
    </modules>
    <global>
        <models>
            <ipcarthandoff>
                <class>Iparcel_CartHandoff_Model</class>
                <resourceModel>ipcarthandoff_resource</resourceModel>
            </ipcarthandoff>
            <ipcarthandoff_resource>
                <class>Iparcel_CartHandoff_Model_Resource</class>
                <entities>
                    <checkitems>
                        <table>iparcel_carthandoff_checkitems_cache</table>
                    </checkitems>
                </entities>
            </ipcarthandoff_resource>
            <sales>
                <rewrite>
                    <order>Iparcel_CartHandoff_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product_type_price>Iparcel_CartHandoff_Model_Catalog_Product_Type_Price</product_type_price>
                    <product_type_configurable_price>Iparcel_CartHandoff_Model_Catalog_Product_Type_Configurable_Price</product_type_configurable_price>
                    <layer>Iparcel_CartHandoff_Model_Catalog_Layer</layer>
                </rewrite>
            </catalog>
            <payment>
                <rewrite>
                    <method_free>Iparcel_CartHandoff_Model_Payment_Free</method_free>
                </rewrite>
            </payment>
            <checkout>
                <rewrite>
                    <type_onepage>Iparcel_CartHandoff_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <aw_storecredit>
                <rewrite>
                    <observer_storecredit>Iparcel_CartHandoff_Model_Observer_Storecredit</observer_storecredit>
                </rewrite>
            </aw_storecredit>
        </models>
        <helpers>
            <ipcarthandoff>
                <class>Iparcel_CartHandoff_Helper</class>
            </ipcarthandoff>
        </helpers>
        <blocks>
            <ipcarthandoff>
                <class>Iparcel_CartHandoff_Block</class>
            </ipcarthandoff>
        </blocks>
        <resources>
            <ipcarthandoff_setup>
                <setup>
                    <module>Iparcel_CartHandoff</module>
                    <class>Iparcel_CartHandoff_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ipcarthandoff_setup>
        </resources>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <ipcarthandoff>
                        <type>singleton</type>
                        <class>ipcarthandoff/observer</class>
                        <method>verifyPaymentMethods</method>
                    </ipcarthandoff>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <paypal_prepare_line_items>
                <observers>
                    <ipcarthandoff>
                        <type>singleton</type>
                        <class>ipcarthandoff/observer</class>
                        <method>paypalPrepareLineItems</method>
                    </ipcarthandoff>
                </observers>
            </paypal_prepare_line_items>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <ipcarthandoff>
                    <file>ipcarthandoff.xml</file>
                </ipcarthandoff>
            </updates>
        </layout>
        <routers>
            <ipcarthandoff>
                <use>standard</use>
                <args>
                    <module>Iparcel_CartHandoff</module>
                    <frontName>ipcarthandoff</frontName>
                </args>
            </ipcarthandoff>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ipcarthandoff after="Mage_Adminhtml">Iparcel_CartHandoff_Adminhtml</ipcarthandoff>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <ipcarthandoff>
                <active>1</active>
                <model>ipcarthandoff/payment_ipcarthandoff</model>
                <title>Checkout with UPS i-parcel</title>
                <display_on_cart>1</display_on_cart>
                <payment_method_message>You will be redirected to UPS i-parcel to complete checkout.</payment_method_message>
                <cart_placement>2</cart_placement>
                <hide_proceed_to_checkout>0</hide_proceed_to_checkout>
                <hide_other_checkout_methods>0</hide_other_checkout_methods>
                <send_new_order_emails>1</send_new_order_emails>
            </ipcarthandoff>
        </payment>
        <carriers>
            <iparcel>
                <active>1</active>
                <autotrack>1</autotrack>
            </iparcel>
        </carriers>
        <iparcel>
            <tax>
                <mode>2</mode>
            </tax>
            <international_customer>
                <checkitems>0</checkitems>
                <checkitems_price>0</checkitems_price>
                <checkitems_cache_lifetime>0</checkitems_cache_lifetime>
                <checkitems_chunk_size>100</checkitems_chunk_size>
            </international_customer>
        </iparcel>
    </default>
</config>
