<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_CartHandoff>
            <version>1.1.2</version>
        </Iparcel_CartHandoff>
    </modules>
    <global>
        <models>
            <ipcarthandoff>
                <class>Iparcel_CartHandoff_Model</class>
                <resourceModel>ipcarthandoff_resource</resourceModel>
            </ipcarthandoff>
        </models>
        <helpers>
            <ipcarthandoff>
                <class>Iparcel_CartHandoff_Helper</class>
            </ipcarthandoff>
        </helpers>
        <blocks>
            <ipcarthandoff>
                <class>Iparcel_CartHandoff_Block</class>
            </ipcarthandoff>
        </blocks>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <ipcarthandoff>
                        <type>singleton</type>
                        <class>ipcarthandoff/observer</class>
                        <method>verifyPaymentMethods</method>
                    </ipcarthandoff>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <ipcarthandoff>
                    <file>ipcarthandoff.xml</file>
                </ipcarthandoff>
            </updates>
        </layout>
        <routers>
            <ipcarthandoff>
                <use>standard</use>
                <args>
                    <module>Iparcel_CartHandoff</module>
                    <frontName>ipcarthandoff</frontName>
                </args>
            </ipcarthandoff>
        </routers>
    </frontend>
    <default>
        <payment>
            <ipcarthandoff>
                <active>1</active>
                <model>ipcarthandoff/payment_ipcarthandoff</model>
                <title>Checkout with UPS i-parcel</title>
                <display_on_cart>1</display_on_cart>
                <payment_method_message>You will be redirected to UPS i-parcel to complete checkout.</payment_method_message>
                <cart_placement>2</cart_placement>
            </ipcarthandoff>
        </payment>
        <carriers>
            <iparcel>
                <active>1</active>
                <autotrack>1</autotrack>
            </iparcel>
        </carriers>
        <iparcel>
            <tax>
                <mode>2</mode>
            </tax>
        </iparcel>
    </default>
</config>
